/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/

:root {
  --ion-background-color: var(--background-color);
  --ion-text-color: var(--text-color);
  /* start - temp dark colors below until light mode is implemented - start */

  --ion-color-step-50: #3a2d44;
  --ion-color-step-100: #45384e;
  --ion-color-step-150: #4f4358;
  --ion-color-step-200: #594e61;
  --ion-color-step-250: #64596b;
  --ion-color-step-300: #6e6475;
  --ion-color-step-350: #786f7f;
  --ion-color-step-400: #837a89;
  --ion-color-step-450: #8d8593;
  --ion-color-step-500: #98919d;
  --ion-color-step-550: #a29ca6;
  --ion-color-step-600: #aca7b0;
  --ion-color-step-650: #b7b2ba;
  --ion-color-step-700: #c1bdc4;
  --ion-color-step-750: #cbc8ce;
  --ion-color-step-800: #d6d3d8;
  --ion-color-step-850: #e0dee1;
  --ion-color-step-900: #eae9eb;
  --ion-color-step-950: #f5f4f5;

  --color: var(--text-color);

  --ion-border-color: var(--light-greyish-purple);
  --ion-item-background: var(--light-greyish-purple);
  --ion-toolbar-background: var(--light-greyish-purple);
  --ion-card-background: var(--light-greyish-purple);

  /* end - temp dark colors until light mode is implemented - end */

  --ion-color-primary: #e047ff;
  --ion-color-primary-rgb: 224, 71, 255;
  --ion-color-primary-contrast: #120715;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #b738cc;
  --ion-color-primary-tint: #f07bff;
  --ion-color-primary-lightest: #f7b0ff;

  --ion-color-secondary: #6f2bff;
  --ion-color-secondary-rgb: 111, 43, 255;
  --ion-color-secondary-dark: #4f1bcc;
  --ion-color-secondary-darkest: #3e149f;
  --ion-color-secondary-contrast: #f9efff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #5e24db;
  --ion-color-secondary-tint: #8a4bff;

  --ion-color-tertiary: #20f2c1;
  --ion-color-tertiary-rgb: 32, 242, 193;
  --ion-color-tertiary-contrast: #120715;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #16c69d;
  --ion-color-tertiary-tint: #6ff7d7;

  --offwhite-color: #221628;
  --ofwhite-color-tint: #2f1f36;
  --offwhite-color-shade: #17101b;
  --offwhite-color-lightest: #3a2842;
  --light-greyish-purple: #32233c;
  --dark-greyish-purple: #140d1a;
  --dark-greyish-purple-overlay: rgba(20, 13, 26, 0.9);
  --darkest-purple: #0b0710;

  --light-mauve: #30203d;
  --pale-grey: #4a335c;

  --wanikani-purple: #6600ff;
  --wanikani-pink: #ac1e8d;
  --wani-kani-pink-rgb: 255, 79, 168;
  --wani-kani-pink-rgba: rgba(255, 79, 168, 0.18);
  --wanikani-blue: #1b62a3;
  --wanikani-blue-rgba: rgba(59, 196, 255, 0.18);
  --wanikani-blue-rgb: 59, 196, 255;

  --wanikani-radical: #1b62a3;
  --wanikani-kanji: #ac1e8d;
  --wanikani-vocab: #6600ff;
  --wanikani-kana-vocab: #6600ff;
  --wanikani-reading: var(--darkest-purple);

  --wanikani-apprentice: #0c7759;
  --wanikani-guru: #1b62a3;
  --wanikani-master: #6600ff;
  --wanikani-enlightened: #490707;
  --wanikani-burned: #434343;

  --wanikani-review: #1b62a3;
  --wanikani-lesson: #6f2bff;

  --deep-purple-accent: #6f2bff;
  --light-grey: #5a466d;

  --ion-color-success-dark: #12c391;
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #120715;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #120715;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #f9efff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #120715;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #120715;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-tab-bar-background: var(--ion-color-secondary);
  --ion-tab-bar-background-focused: var(--ion-color-primary-shade);

  /* main theme colors */
  --background-color: var(--dark-greyish-purple);
  --foreground-color: var(--offwhite-color);
  --secondary-foreground-color: var(--light-greyish-purple);
  --box-shadow-color: rgba(11, 7, 16, 0.7);
  --contrast-color: var(--light-grey);
  --text-color: #f5eaff;
  --button-color: var(--ion-color-primary);
  --button-text-color: #f9efff;
  --contrast-text-color: #120715;
  --link-text-color: #f07bff;
  --focus-color: #f7b0ff;
  /* main theme colors */

  --ion-default-font: "Poppins", sans-serif;
  --japanese-font-family: "Zen Kaku Gothic New", sans-serif;
  --japanese-with-english-fallback-font-family: "Zen Kaku Gothic New", "Poppins",
    sans-serif;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  :root {
    --ion-background-color: var(--background-color);
    --ion-text-color: var(--text-color);

    --ion-color-step-50: #3a2d44;
    --ion-color-step-100: #45384e;
    --ion-color-step-150: #4f4358;
    --ion-color-step-200: #594e61;
    --ion-color-step-250: #64596b;
    --ion-color-step-300: #6e6475;
    --ion-color-step-350: #786f7f;
    --ion-color-step-400: #837a89;
    --ion-color-step-450: #8d8593;
    --ion-color-step-500: #98919d;
    --ion-color-step-550: #a29ca6;
    --ion-color-step-600: #aca7b0;
    --ion-color-step-650: #b7b2ba;
    --ion-color-step-700: #c1bdc4;
    --ion-color-step-750: #cbc8ce;
    --ion-color-step-800: #d6d3d8;
    --ion-color-step-850: #e0dee1;
    --ion-color-step-900: #eae9eb;
    --ion-color-step-950: #f5f4f5;

    --color: var(--text-color);

    /* main theme colors */
    --background-color: var(--dark-greyish-purple);
    --foreground-color: var(--offwhite-color);
    --secondary-foreground-color: var(--light-greyish-purple);
    --contrast-color: var(--light-grey);
    --box-shadow-color: rgba(11, 7, 16, 0.7);
    --text-color: #f5eaff;
    --button-color: var(--ion-color-secondary);
    --button-text-color: #f9efff;
    --link-text-color: #f07bff;
    --contrast-text-color: #120715;
    --focus-color: #f7b0ff;
    /* main theme colors */
  }

  body {
    --ion-background-color: var(--background-color);
    --ion-color-primary: #e047ff;
    --ion-color-primary-rgb: 224, 71, 255;
    --ion-color-primary-contrast: #120715;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #b738cc;
    --ion-color-primary-tint: #f07bff;

    --ion-color-secondary: #6f2bff;
    --ion-color-secondary-rgb: 111, 43, 255;
    --ion-color-secondary-contrast: #f9efff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #5e24db;
    --ion-color-secondary-tint: #8a4bff;

    --ion-color-tertiary: #20f2c1;
    --ion-color-tertiary-rgb: 32, 242, 193;
    --ion-color-tertiary-contrast: #120715;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #16c69d;
    --ion-color-tertiary-tint: #6ff7d7;

    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #120715;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;

    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #120715;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #f9efff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;

    --color: var(--text-color);
    --ion-text-color: var(--text-color);
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: var(--background-color);

    --ion-text-color: var(--text-color);
    --color: var(--text-color);

    /* TODO: update color steps */
    --ion-color-step-50: #261b2f;
    --ion-color-step-100: #32273a;
    --ion-color-step-150: #3d3345;
    --ion-color-step-200: #493f50;
    --ion-color-step-250: #544b5b;
    --ion-color-step-300: #5f5766;
    --ion-color-step-350: #6b6371;
    --ion-color-step-400: #766f7c;
    --ion-color-step-450: #827b87;
    --ion-color-step-500: #8d8792;
    --ion-color-step-550: #98939c;
    --ion-color-step-600: #a49fa7;
    --ion-color-step-650: #afabb2;
    --ion-color-step-700: #bbb7bd;
    --ion-color-step-750: #c6c3c8;
    --ion-color-step-800: #d1cfd3;
    --ion-color-step-850: #dddbde;
    --ion-color-step-900: #e8e7e9;
    --ion-color-step-950: #f4f3f4;

    /* TODO: change these once testing iOS */
    --ion-item-background: var(--light-greyish-purple);

    --ion-card-background: var(--light-greyish-purple);
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: var(--background-color);

    --ion-text-color: var(--text-color);
    --color: var(--text-color);

    --ion-color-step-50: #261b2f;
    --ion-color-step-100: #32273a;
    --ion-color-step-150: #3d3345;
    --ion-color-step-200: #493f50;
    --ion-color-step-250: #544b5b;
    --ion-color-step-300: #5f5766;
    --ion-color-step-350: #6b6371;
    --ion-color-step-400: #766f7c;
    --ion-color-step-450: #827b87;
    --ion-color-step-500: #8d8792;
    --ion-color-step-550: #98939c;
    --ion-color-step-600: #a49fa7;
    --ion-color-step-650: #afabb2;
    --ion-color-step-700: #bbb7bd;
    --ion-color-step-750: #c6c3c8;
    --ion-color-step-800: #d1cfd3;
    --ion-color-step-850: #dddbde;
    --ion-color-step-900: #e8e7e9;
    --ion-color-step-950: #f4f3f4;

    --ion-border-color: var(--light-greyish-purple);
    --ion-item-background: var(--light-greyish-purple);
    --ion-toolbar-background: var(--light-greyish-purple);
    --ion-card-background: var(--light-greyish-purple);

    --ion-default-font: "Poppins", sans-serif;
    --japanese-font-family: "Zen Kaku Gothic New", sans-serif;
    --japanese-with-english-fallback-font-family: "Zen Kaku Gothic New",
      "Poppins", sans-serif;
  }
}

/* Fallback for older browsers or manual mode */
body.dark {
  /* Dark mode variables go here */

  --ion-color-primary: #c86bfa;
  --ion-color-primary-rgb: 200, 107, 250;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #b05edc;
  --ion-color-primary-tint: #ce7afb;

  --ion-color-secondary: #6930c3;
  --ion-color-secondary-rgb: 105, 48, 195;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #5c2aac;
  --ion-color-secondary-tint: #7845c9;

  --ion-color-tertiary: #19e6ac;
  --ion-color-tertiary-rgb: 25, 230, 172;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #0f8a67;
  --ion-color-tertiary-tint: #73e9c7;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;

  --ion-text-color: var(--text-color);
  --color: var(--text-color);
}

ion-tab-bar {
  --color: var(--text-color);
  --color-selected: white;
  --background: var(--ion-color-secondary);
}

ion-tab-button {
  --ripple-color: var(--ion-color-medium);
  --color: var(--text-color);
  --color-selected: white;
}

ion-tab-button.tab-selected {
  --background: var(--ion-color-secondary-dark);
}
